body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
}
.card {
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 5px;
  }
.center-box {
    text-align: center;
}
.med-text {
    font-size: 24px;
    font-weight: bold;
}
.big-text {
    font-size: 32px;
    font-weight: bold;
}
  /* Estilos para los enlaces en modo oscuro */
a {
    color: #6c757d;
  }
  
  a:hover {
    color: #ffffff;
  }