body {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}
.center-box {
    text-align: center;
}
.med-text {
    font-size: 24px;
    font-weight: bold;
}
.big-text {
    font-size: 32px;
    font-weight: bold;
}
